{% trans_default_domain 'reset-email' %}
<div>
    <h3>{{ 'hello' | trans }} {{ name }} !</h3>
    <p>{{ 'link' | trans }}</p>
    <p><a href="{{ link }}">{{ link }}</a></p>
    <p>{{ 'bye' | trans }}</p>
</div>
