{% extends 'base.html.twig' %}
{% trans_default_domain 'reset-email' %}

{% block title %}{{ 'title' | trans }}{% endblock %}

{% block content %}
    <p>{{ 'link' | trans }}</p>
    <p><a href="{{ link }}">{{ 'button' | trans }}</a></p>
    <p>{{ 'ignore' | trans }}</p>
{% endblock %}
